<!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<configuration>

    <Properties>
        <Property name="PATTERN_LAYOUT">%highlight{%d{MM-dd HH:mm:ss,SSS} %-5p %50.50l} : %m%n</Property>
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN_LAYOUT}"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/tomcat.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="${PATTERN_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
        <!--
        <logger name="com.z.act.core.security.mapper" level="DEBUG" />
        -->
    </loggers>

</configuration>